{% extends 'base.html' %}


{% block content %}

    <h2 class="text-center">An introduction to Flask & MongoDBD</h2>


    <form class="form-signin" action="/api/messages/save" method="post">
        <label for="message" class="sr-only">message</label>
        <input type="test" id="message" name="message" class="form-control" placeholder="Write your message here" required autofocus>

        <button class="btn btn-primary" type="submit">Save</button>

        <p class="mt-5 mb-3 text-muted"><a href="/messages">see all messages</a></p>
    </form>

{% endblock %}
