{% extends 'base.html' %}


{% block content %}

<h2 class="text-center">An introduction to Flask & MongoDBD</h2>


<div class="container">

    <form class="form-inline row" action="/api/messages/save" method="post">

        <div class="col-11">
            <input type="text" id="message" name="message" class="form-control" placeholder="Write your message here"
                required autofocus>
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary mb-2">Save</button>
        </div>

    </form>

</div>


<style>
    #message {
        width: 100%;
    }
</style>

{% endblock %}