{% extends 'base.html' %}


{% block content %}

<h2 class="text-center">My tasks</h2>

    {% if messages %}

        {% for message in messages %}
        <article>
            {{message.text}} 
            
            <form action="/api/messages/delete" method="post">
                <input type="hidden" name="id" value="{{message._id}}">
                <button class="btn btn-sm btn-danger float-right" type="submit">suppr</button>
            </form>
            
            <form action="/api/messages/done" method="post" onclick="this.submit()">
                <div class="custom-control custom-switch float-right">
                    <input type="hidden" name="id" value="{{message._id}}">
                    <input type="checkbox" name="done"
                        {% if message.done %} checked="" {% endif %} 
                        class="custom-control-input" 
                        id="switch{{message._id}}">
                    <label class="custom-control-label" for="switch{{message._id}}">Done</label>
                &nbsp;
                </div>
            </form>

        </article>
        {% endfor %}

    {% else %}

        <p>You should see here all the messages stored in the local MongoDB database,
            but for now, nothing is stored !
        </p>

    {% endif %}

{% endblock %}
