{% extends 'base.html' %}


{% block content %}

<h2 class="text-center">My messages here</h2>

    {% if messages %}

        {% for message in messages %}
        <article>
            {{message.text}} 
            <button class="btn" id="{{message._id}}">suppr</button>
        </article>
        {% endfor %}

    {% else %}

        <p>You should see here all the messages stored in the local MongoDB database,
            but for now, nothing is stored !
        </p>

    {% endif %}

{% endblock %}
